html{
  --blue1: #bfd2d1;
  --blue2: #2e5d67;
  --blue3: #2d3656;
  --blue4: #071549;
  --accentred: #e12200;
}
body{
  min-width: 900px;
}
/*nav header*/
#app-nav{
  background: var(--blue2);
}
.btn{
  background: var(--blue1);
  color: var(--blue2);
}
.dropdown-content{
  background: var(--blue1);
  color: green;
}

/*node field*/
#field-container{
  display: flex;
  flex-direction: column;
}
#field-container > .fixed-action-btn {
  visibility: vis;
}
#status-box{
  position: absolute;
  align-self: center;
  margin: 10px auto;
  width: 658px;
  height: 128px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  background: #888;
}
#node-field{
  padding-top: 145px;
  min-height: 700px;
  background: var(--blue3);
}
#testsquare{
  background: green;
  grid-row: 6;
  grid-column: 2;
}
#node-field-content{
  background: blue;
  min-height: 650px;
}
